<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=localhost;Database=GainTrack;User=root;Password=root;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="TrainerId" value="1" />
		<add key="TrainerTheme" value="DarkTheme"/>
		<add key="TrainerLanguage" value="English"/>
		<add key="TraineeTheme" value="DarkTheme"/>
		<add key="TraineeLanguage" value="English"/>
	</appSettings>
</configuration>
